<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
    <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div data-controller = "booking">
  <%= form_with model: @booking do |booking_form| %>
    <%= booking_form.hidden_field :flight_id, value: @flight.id %>
    <div data-booking-target = "passengers">
      <% @booking.passengers.each_with_index do |passenger, n| %>
        <h1>Passenger <%= n + 1 %> Details</h1>
        <%= booking_form.fields_for :passengers, passenger do |passenger_info_form| %>
          <%= passenger_info_form.label :name, "Name" %>
          <%= passenger_info_form.text_field :name %>
          <%= passenger_info_form.label :email, "Email" %>
          <%= passenger_info_form.text_field :email %>
        <% end %>
      <% end %>
    </div>
    <br>
    <%= booking_form.submit "Book Flights" %>
  <% end %>
</div>
<template id="productrow">
  <h1>Hello World</h1>
</template>